// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$only-stars-blue: #1230AE;
$only-stars-dark-purple: #6C48C5;
$only-stars-light-purple: #C68FE6;
$only-stars-white: #eae6e6;
