<div class="container text-center">
    <div>
      <h1 class="text-center fw-bold">OnlyStars</h1>
    </div>

    <div class="text-center">
      <form class="d-flex mt-4 w-50 mx-auto" action="/" accept-charset="UTF-8" method="get">
        <input class="form-control me-2" type="text" name="search[query]" id="search_query" placeholder="Describe your dream activity with your favorite star...">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
    </div>
  </div>


<h2 class="fw-bold ms-4"> Find your celebrity match </h2>

<div id="allcards">

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

</div>
