<div class="container text-center">
    <div class="text-center">
      <form class="d-flex mt-4 w-50 mx-auto" action="/" accept-charset="UTF-8" method="get">
        <input class="form-control me-2" type="text" name="search[query]" id="search_query" placeholder="Describe your dream activity with your favorite star...">
        <button class="btn btn-primary" type="submit">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
    </div>
  </div>


<h2 class="fw-bold m-4"> Find your celebrity match </h2>

<div id="allcards" class="container">
  <div class="row justify-content-center gy-4">
    <%= @celebrities.each do |celebrity|%>
      <div class="col-12 col-md-6 col-lg-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= celebrity.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= celebrity.price_per_hour %></li>
          <li class="list-group-item"><%= celebrity.location %></li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Voir plus</a>
          <a href="#" class="card-link">Réserver</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
  </div>
</div>
