

$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";


.card-category h2 h5 {
  font-size: "Nunito", "sans-serif";
}

.table-light {
  font-style: "Yeseva One", serif;
}
// tbody {
//   font-style: "Yeseva One", serif;
// }
