.centered-diamond {
  position: absolute;
  top: 50%;  /* Positionner verticalement au centre */
  left: 50%; /* Positionner horizontalement au centre */
  transform: translate(-50%, -50%); /* Ajuster l'image pour qu'elle soit parfaitement centrée */
  animation: rotate 2s infinite linear;  /* Animation de rotation continue */
  width: 800px;  /* Taille plus grande de l'image */
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);  /* Angle de rotation de départ */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);  /* Rotation complète */
  }
}
