// Import page-specific CSS files here.
@import "home";

.btn-only-stars-blue {
  background-color: $only-stars-blue;
  color: #fff; // Une couleur de texte contrastante
  border: none;
  border-radius: 50px;
  width: 120px;
}

.btn-only-stars-blue:hover {
  background-color: #C68FE6;
  transition: transform 0.3s ease;
  color: white;
}

.form-control {
  border-radius: 25px;
}

.search-bar {
  margin-bottom: 8px; /* Ajoute une marge en bas de la barre de recherche */
}

.icons {
  list-style-type: none; /* Supprime les puces des listes */
  padding: 5px;
  margin-top: px;
}

.icons li {
  display: flex;
  flex-direction: column; /* Empile l'image et le texte */
  align-items: center;    /* Centre l'image et le texte horizontalement */
  justify-content: center; /* Centre verticalement si nécessaire */
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Ajoute une transition pour les transformations */
}

.icons img {
  margin: 0 auto; /* Assure un centrage horizontal */
  display: block; /* Supprime tout espace résiduel autour de l'image */
  width: 35px; /* Réduit la largeur de l'image */
  height: auto; /* Maintient les proportions de l'image */
  transition: transform 0.3s ease, filter 0.3s ease; /* Ajoute une transition pour les effets sur l'image */
}

.icons:hover {
  background-color: #5679D8; /* Couleur plus claire */
  border-radius: 30px;
  color: white;
  transform: scale(1.05); /* Ajoute un léger effet de zoom */
}

.icons:hover img {
  transform: scale(1.2); /* Agrandit légèrement l'image */
  filter: brightness(1.2); /* Augmente légèrement la luminosité */
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  border-bottom: 1px solid rgb(214, 210, 210);
}

.card {
  border-radius: 20px;
  box-shadow: 5px 2px 2px rgb(214, 210, 210);
}

#see-more{
  color: white;
  background-color: #1230AE;
}

#see-more:hover{
  background-color: #C68FE6;
  transition: transform 0.3s ease;
}

#book-me{
  color: white;
  background-color: #1230AE
}

#book-me:hover{
  background-color: #C68FE6;
  transition: transform 0.3s ease;
}


.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}
