<%= simple_form_for([@celebrity, @booking]) do |f| %>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Réservation</h2>

            <!-- Select an activity -->
            <div class="mb-3">
              <%= f.label :activity, "Select an activity", class: "form-label" %>
              <%= f.collection_select :activity, [["Activity 1", "Activity 1"], ["Activity 2", "Activity 2"]], :first, :last, { prompt: "Select an activity" }, { class: "form-control" } %>
            </div>


            <!-- Submit button -->
            <div class="d-flex justify-content-center mt-4">
              <%= f.submit "Réserver", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
