<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-color: #1230AE;">
  <div class="container-fluid">

  <div class="logo-and-name d-flex text-start">
    <a class="navbar-brand" href="#">
      <i class="fa-regular fa-gem fa-2x" style="color: #C68fe6;"></i>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-company-name fw-bold fs-2 logo-font" style="color: #C68fe6;">OnlyStars</div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link fw-bold mt-1" style="color: #C68fe6;" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold mt-1 mx-2" style="color: #C68fe6;" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://static.public.fr/wp-content/uploads/2024/03/Exclu-Public-Beverly-L-ile-des-verites-3-Je-suis-accro-a-la-tele-realite--1536x1141.webp"/>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>

       
      </ul>
    </div>
  </div>
</div>
