// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/navbar";
@import "pages/index_booking";
@import "pages/index_celebrities";

body {
  background-color: #f8e8ff; /* Une couleur de fond douce */
  background-image: image-url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
